canvas{
  // border: 2px solid black;
}
body{
  position: relative; 
  margin: 0; 
  padding: 0; 
}
.modal{
  display: none; 
  position: absolute; 
  // display: inline-block;
  top: 0; 
  left: 0; 
  // height: 200px; 
  // width: 200px; 
  background-color: rgba(0,0,0,.7);
}

.modal div{
  display: inline-block;
  height: 50px; 
  width: 50px; 
  border: 1px solid black; 
  margin: 5px;
  background-color: red;
}
.modal .cls_black{
  background-color: black;
}
.modal .cls_done{
  background-color: greenyellow;
}